In [2]:

import requests
url="https://www.scrapethissite.com/pages/simple/"
res=requests.get(url)
print(res.status_code)

200

In [88]:
if res.status_code==200:
    print(res.headers)
with open("scraped_data/data12.html","w",encoding='utf-8') as f:
    f.write(res.text)

{'Date': 'Wed, 17 Dec 2025 03:51:25 GMT', 'Content-Type': 'text/html; charset=utf-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Nel': '{"report_to":"heroku-nel","response_headers":["Via"],"max_age":3600,"success_fraction":0.01,"failure_fraction":0.1}', 'Report-To': '{"group":"heroku-nel","endpoints":[{"url":"https://nel.heroku.com/reports?s=tSuZ25%2F0VMUZHlt3416bDvjKhlhTKfJWiKFCN8GyPjk%3D\\u0026sid=67ff5de4-ad2b-4112-9289-cf96be89efed\\u0026ts=1765943484"}],"max_age":3600}', 'Reporting-Endpoints': 'heroku-nel="https://nel.heroku.com/reports?s=tSuZ25%2F0VMUZHlt3416bDvjKhlhTKfJWiKFCN8GyPjk%3D&sid=67ff5de4-ad2b-4112-9289-cf96be89efed&ts=1765943484"', 'Server': 'cloudflare', 'Via': '1.1 heroku-router', 'cf-cache-status': 'DYNAMIC', 'Content-Encoding': 'zstd', 'CF-RAY': '9af3763c4eb3ba7d-AMS', 'alt-svc': 'h3=":443"; ma=86400'}

In [1]:
#beatutifulsop
from bs4 import BeautifulSoup
with open ("scraped_data/data12.html","r")as f:
    html_content=f.read()

soup=BeautifulSoup(html_content,"lxml")

In [99]:
all_h3=soup.find_all('h3')
all_countries=[]
for h3 in all_h3:
    name=h3.get_text(strip=True)
   
    population=(h3.find_next('div').select('span.country-population')[0].get_text(strip=True))
    all_countries.append([name,population])

In [107]:
all_countries
import pandas as pd
table=pd.DataFrame(all_countries)
table.fillna('none')
table

                        0         1
0                 Andorra     84000
1    United Arab Emirates   4975593
2             Afghanistan  29121286
3     Antigua and Barbuda     86754
4                Anguilla     13254
..                    ...       ...
245                 Yemen  23495361
246               Mayotte    159042
247          South Africa  49000000
248                Zambia  13460305
249              Zimbabwe  11651858

[250 rows x 2 columns]

In [1]:
table.to_csv("clean_data/country.csv",index=False)

NameError: name 'table' is not defined