In [32]:
import pandas as pd

In [33]:
info={
    "Name":["Sarthak","samarth","Akshay"],
    "CGPA":[9.7,9.6,9.9]
}

df=pd.DataFrame(info)
print(df)

      Name  CGPA
0  Sarthak   9.7
1  samarth   9.6
2   Akshay   9.9

In [34]:
df

      Name  CGPA
0  Sarthak   9.7
1  samarth   9.6
2   Akshay   9.9

In [35]:
s=pd.Series([1,2,3,4,5])
print(s)
print(type(s))


#index

print(s[0])
print([2])

sd=pd.Series([2,344,5],index=["sarthak","samarth","akshay"])
print(sd)
print(sd["sarthak"])
print(sd["samarth"])

print(sd[0])
sd.index

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
1
[2]
sarthak      2
samarth    344
akshay       5
dtype: int64
2
344
2

C:\Users\91965\AppData\Local\Temp\ipykernel_7720\697080489.py:16: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sd[0])

Index(['sarthak', 'samarth', 'akshay'], dtype='object')

In [36]:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([6,7,8,9,10])
s1.drop(0)
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [37]:
#csv data
df=pd.read_csv("employee_data.csv")
print(df,type(df))

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000 <class 'pandas.core.frame.DataFrame'>

In [38]:
df=pd.read_json("store_data.json")
print(df,type(df))

       name rating                   feedback   age
0     Alice     5             Great product!!  25.0
1       Bob   four       ok but late Delivery  30.0
2   Charlie    two            BAD EXPERIENCE    NaN
3     Diana      5                  Loved it!  28.0
4       Eve    3.5  Average - could be better  20.0
5     Alice      5       Great product again!  25.0 <class 'pandas.core.frame.DataFrame'>

In [39]:
df.head()
df.tail()
df.sample()
df.info()

df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      6 non-null      object
 1   rating    6 non-null      object
 2   feedback  6 non-null      object
 3   age       5 non-null      float64
dtypes: float64(1), object(3)
memory usage: 324.0+ bytes

             age
count   5.000000
mean   25.600000
std     3.781534
min    20.000000
25%    25.000000
50%    25.000000
75%    28.000000
max    30.000000

In [40]:
df=pd.read_csv("globalAirQuality.csv")
df

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,2025-11-19 13:25:17.554219,CH,Zurich,47.377,8.542,27.899,74.179,41.474,6.677,50.869,1.028,103,7.079,52.443,7.452
17996,2025-11-19 14:25:17.554219,CH,Zurich,47.377,8.542,2.950,47.988,42.235,2.821,35.551,0.644,105,28.734,85.678,4.496
17997,2025-11-19 15:25:17.554219,CH,Zurich,47.377,8.542,61.347,72.908,46.976,5.763,66.492,0.947,122,21.951,72.311,9.660
17998,2025-11-19 16:25:17.554219,CH,Zurich,47.377,8.542,40.722,95.152,32.957,5.524,53.193,0.868,95,24.042,31.880,2.642
17999,2025-11-19 17:25:17.554219,CH,Zurich,47.377,8.542,25.830,30.411,35.317,4.336,66.246,0.848,88,8.529,59.104,4.403

In [47]:
df[df["aqi"]>100]

df[(df["aqi"]>100)&(df["temperature"]>30)][["city","aqi"]]

#query--it return the copy
df.query("aqi>100 & temperature>35")

KeyError: 'aqi'

In [42]:
df=pd.read_csv("raw_data.csv")
df.isnull().sum()

id         0
name       1
age        3
country    1
gender     1
income     1
dtype: int64

In [4]:
import pandas as pd
df=pd.read_csv("raw_data.csv")
df2=df.copy()
df2["tax"]=df2["income"].apply(lambda x: "20%" if x>=60000 else "10%")
gender_map={"Male":"M","Female":"F","Unknown":"U"}
df2['gender']=df2['gender'].map(gender_map)
df2.assign(newe_salary=df2['income']*1.2)
df2['country']=df2['country'].replace("USA","United state")
df2.rename(columns={"income":"Salary"})
df2.rename(index={1:"First"})
df2=df2.fillna(50)
sorteed_valuees=df2.sort_values(['income',"age"])
sorteed_valuees.sort_index()

sorteed_valuees.reset_index(drop=True)
sorteed_valuees["Ranking"]=sorteed_valuees["income"].rank(ascending=False,method="dense")
sorteed_valuees[["id","name","age","country","gender","income","Ranking","tax"]]

df2=df.copy()
new_col_order=[col for col in df2.columns if col !="id"]+["id"]
print(new_col_order)
df2[new_col_order]

csv=pd.read_csv("IPL2025Batters.csv")
sort=csv.sort_values("HS",ascending=False)
sort

['name', 'age', 'country', 'gender', 'income', 'id']

,Player Name,Team,Runs,Matches,Inn,No,HS,AVG,BF,SR,100s,50s,4s,6s
5,Shreyas Iyer,PBKS,604,17,17,5,97*,50.33,345,175.07,0,6,43,39
64,Quinton De Kock,KKR,152,8,8,1,97*,21.71,117,129.91,0,1,9,11
9,Jos Buttler,GT,538,14,13,4,97*,59.78,330,163.03,0,5,52,24
17,Riyan Parag,RR,393,14,14,2,95,32.75,236,166.52,0,1,27,27
43,Ayush Mhatre,CSK,240,7,7,0,94,34.29,127,188.97,0,1,31,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Khaleel Ahmed,CSK,1,14,2,2,1*,-,2,50.00,0,0,0,0
152,Mohit Sharma,DC,1,8,2,1,1*,1.00,3,33.33,0,0,0,0
153,Donovan Ferreira,DC,1,1,1,0,1,1.00,3,33.33,0,0,0,0
154,Digvesh Singh,LSG,1,13,2,1,1,1.00,3,33.33,0,0,0,0
155,Manoj Bhandage,RCB,1,1,1,0,1,1.00,4,25.00,0,0,0,0

In [44]:
df=pd.read_csv("raw_data.csv")
df2=df.copy()
df2=df2.drop_duplicates()
df2=df2.fillna(0)
df2=df2.sort_values("income")
df2=df2.reset_index(drop=True)
df2.to_csv("sorteddata.csv")
df.groupby("country")["income"].mean()
df.groupby("country")["income"].min()
df.groupby("gender")["income"].max()
df.groupby("country")["income"].agg(avg_salary="mean",max_salary="max",min_salary="min")
df.groupby("country").agg(
    {"income":"mean",
     "age":"mean",}
)
df.groupby("country").agg({
'income':'max',
'age':"max"
})

          income   age
country
Canada   62000.0   NaN
China    51000.0  27.0
India    73000.0  45.0
Mexico   45000.0   NaN
Spain        NaN  34.0
USA      62000.0  31.0

In [48]:
df_customere=pd.DataFrame({
    "customer_id":[1,2,3,4],
    "name":["adam","bob","charlie","dave"]
})

df_ordere=pd.DataFrame({
    "order_id":[101,102,103,104],
    "customer_id":[1,2,7,9],
    "amout":[123,676,67,467]
})

ineer_join=pd.merge(df_customere,df_ordere,on="customer_id")   #inner join
left_join=pd.merge(df_ordere,df_customere,on="customer_id",how="left")
right_join=pd.merge(df_customere,df_ordere,on="customer_id",how="right")
outer_join=pd.merge(df_ordere,df_customere,on="customer_id",how="outer")
print(ineer_join)
print(left_join)
print(right_join)
print(outer_join)

   customer_id  name  order_id  amout
0            1  adam       101    123
1            2   bob       102    676
   order_id  customer_id  amout  name
0       101            1    123  adam
1       102            2    676   bob
2       103            7     67   NaN
3       104            9    467   NaN
   customer_id  name  order_id  amout
0            1  adam       101    123
1            2   bob       102    676
2            7   NaN       103     67
3            9   NaN       104    467
   order_id  customer_id  amout     name
0     101.0            1  123.0     adam
1     102.0            2  676.0      bob
2       NaN            3    NaN  charlie
3       NaN            4    NaN     dave
4     103.0            7   67.0      NaN
5     104.0            9  467.0      NaN

In [54]:
df1=pd.DataFrame({

    "id":[1,2,3,4],
    "name":["adam","bob","charlie","dave"]
})
df2=pd.DataFrame({
    "id":[5,6,7,8],
    "name":["sartrhak","samarth","pushpa","akshay"]
})

pd.concat([df1,df2],ignore_index=True,axis=1)

   0        1  2         3
0  1     adam  5  sartrhak
1  2      bob  6   samarth
2  3  charlie  7    pushpa
3  4     dave  8    akshay